.App {
  text-align: center;
  background-color: aqua;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.start{
  width:16em;
}

.button-container{
  width: 30%;
  display: flex;
  justify-content: space-around;
  height: 2em;
}

.name-button{
  cursor: pointer;
  background-color: white;
  border-radius: 10px;
  font-weight: bold;

}