.App {
  text-align: center;
  background: rgb(253,187,29);
  background: linear-gradient(90deg, rgba(253,187,29,1) 24%, rgba(233,119,62,1) 45%, rgba(186,4,4,1) 93%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.start{
  width:16em;
  display: block;
  cursor: pointer;
  background-color: white;
  border-radius: 10px;
  font-weight: bold;
}

.start-hide{
  display: none;
}

.button-container{
  width: 30%;
  display: flex;
  justify-content: space-around;
  height: 2em;
  gap: 1em;
}

.name-button{
  cursor: pointer;
  background-color: white;
  border-radius: 10px;
  font-weight: bold;

}

.pic{
  filter: brightness(0%);

}

.pic-reveal{
  filter:brightness(100%);

}

h1{
  color: white;
  text-shadow: 1px 1px 2px black;
}

@media only screen and (max-width: 600px)  {
  .pic{
    filter: brightness(0%);
    width: 90%;
  }
  
  .pic-reveal{
    filter:brightness(100%);
    width: 90%;
  }

}